<h2>Votre profil</h2>

<table class="table">
  <thead>
  <tr>
    <th>Titres</th>
    <th>Vos Informations</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Nom:</td>
    <td>HARRY</td>
  </tr>
  <tr>
    <td>Prénom:</td>
    <td>Rudolph</td>
  </tr>
  <tr>
    <td>Adresse email:</td>
    <td>rudolph.ebang@gmail.com</td>
  </tr>
  <tr>
    <td>Numéro de téléphone:</td>
    <td>+33 7 83363349</td>
  </tr>
  <tr>
    <td>Adresse:</td>
    <td>87 rue nationale</td>
  </tr>
  <tr>
    <td>Ville:</td>
    <td>Cergy</td>
  </tr>
  <tr>
    <td>Code postal:</td>
    <td>95000</td>
  </tr>
  <tr>
    <td>Pays:</td>
    <td>France</td>
  </tr>
  </tbody>
</table>
