<h2>Liste des Super Admins</h2><br><br>

<table class="table">
  <thead class="table-danger">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Email</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>john.doe@test.fr</td>
    <td>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-danger">Super Admin</button>
        <button type="button" class="btn btn-success disabled">Admin</button>
        <button type="button" class="btn btn-info disabled">Client</button>
      </div>
    </td>
  </tr>
  <tr>
    <td>Mary</td>
    <td>Jane</td>
    <td>mary.jane@another.fr</td>
    <td>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-danger disabled">Super Admin</button>
        <button type="button" class="btn btn-success">Admin</button>
        <button type="button" class="btn btn-info disabled">Client</button>
      </div>
    </td>
  </tr>
  <tr>
    <td>Matheo</td>
    <td>Charclo</td>
    <td>matheo.charcle@other.fr</td>
    <td>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-danger disabled">Super Admin</button>
        <button type="button" class="btn btn-success disabled">Admin</button>
        <button type="button" class="btn btn-info">Client</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<a class="btn btn-secondary" href="#" [routerLink]="['/admin']">Retour à la gestion des membres</a>
