<table class="table table-striped">
  <thead>
  <tr>
    <th>Noms</th>
    <th>Montant</th>
    <th>Date</th>
    <th>Transaction</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>John</td>
    <td>200</td>
    <td>12/05/2019</td>
    <td style="color: green">Envoyé</td>
    <td><button class="btn btn-danger">Supprimer</button></td>
  </tr>
  <tr>
    <td>Mary</td>
    <td>500</td>
    <td>17/02/2019</td>
    <td style="color: orange">En cours</td>
    <td><button class="btn btn-danger">Supprimer</button></td>
  </tr>
  <tr>
    <td>July</td>
    <td>250</td>
    <td>02/03/2018</td>
    <td style="color: red">Rejeté</td>
    <td><button class="btn btn-danger">Supprimer</button></td>
  </tr>
  </tbody>
</table>
