<h2>Liste des Admins</h2><br><br>

<table class="table">
  <thead class="table-success">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>Admin</td>
    <td>
      <a href="#" [routerLink]="['/admin/user-content']"><i class="fa fa-search"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa fa-pencil-square-o"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa fa-trash-o"></i></a>
    </td>
  </tr>
  <tr>
    <td>Mary</td>
    <td>Moe</td>
    <td>Admin</td>
    <td>
      <a href="#" [routerLink]="['/admin/user-content']"><i class="fa fa-search"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa fa-pencil-square-o"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa fa-trash-o"></i></a>
    </td>
  </tr>
  <tr>
    <td>July</td>
    <td>Dooley</td>
    <td>Admin</td>
    <td>
      <a href="#" [routerLink]="['/admin/user-content']"><i class="fa fa-search"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa fa-pencil-square-o"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa fa-trash-o"></i></a>
    </td>
  </tr>
  </tbody>
</table>

<a class="btn btn-secondary" href="#" [routerLink]="['/admin']">Retour à la gestion des membres</a>
